btn-disabled{
    background-color: grey !important;
    color: grey !important;
}

.btn-disabled{
    background-color: grey !important;
    color: grey !important;
}

btn:disabled{
    background-color: grey !important;
    color: grey !important;
}

.btn:disabled{
    background-color: grey !important;
    color: grey !important;
}